<div class="h-full w-full flex flex-col">
  <div class="flex-grow flex flex-row">
    @if (isLoading || errorMessage) {
      <div class="flex items-center justify-center w-full h-full absolute z-50 bg-gray-100 bg-opacity-50">
        @if (errorMessage) {
          <div class="text-lg flex items-center gap-2 text-red-500">
            ❌ <span>{{ errorMessage }}</span>
          </div>
        } @else {
          <div class="flex flex-col items-center gap-2 animate-bounce">
            <div class="text-lg flex items-center gap-2">
              🤖 <span>Loading Model</span>
            </div>
            <div class="text-sm text-gray-500">
              This may take some time depending on your hardware.
            </div>
          </div>
        }
      </div>
    }

    <app-element-canvas class="flex-grow"></app-element-canvas>
    <app-element-list class="w-1/4"></app-element-list>
  </div>

  <!-- Footer -->
  <footer class="w-full h-8 bg-slate-900 border-t flex items-center justify-center text-sm text-gray-200">
    Made with ❤️ by 
    <a href="https://tiagobarracha.netlify.app/" target="_blank" class="text-blue-500 hover:underline ml-1">
      Tiago Barracha
    </a>
    . Check out the 
    <a href="https://github.com/tbarracha/ng-infinite-craft" target="_blank" class="text-blue-500 hover:underline ml-1">
      GitHub repository
    </a>.
  </footer>
</div>
