<div
  #card
  [attr.data-id]="canvasElement.canvasId"
  class="absolute inline-flex p-2 rounded shadow-md cursor-grab select-none"
  [style.left.px]="canvasElement.x"
  [style.top.px]="canvasElement.y"
  [class.pointer-events-none]="elementService.getIsGenerating()"
  [ngClass]="{
    'bg-gray-100': !canvasElement.isMarkedForMerge && !canvasElement.isBeingMerged,
    'bg-gray-500 text-white': canvasElement.isMarkedForMerge && !canvasElement.isBeingMerged,
    'bg-gray-700 text-white animate-pulse': canvasElement.isBeingMerged
  }"
>
  <span>{{ canvasElement.element.emoji }}</span>
  <span>{{ canvasElement.element.name }}</span>
</div>
